*{
    min-width: 390px;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

header, main, footer{
    grid-column: 1/2;
}

header{
    grid-row: 1/2;
}

main{
    grid-row: 2/3;
}

footer{
    grid-row: 3/4;
}

