*{
    box-sizing: border-box;
}

html{

}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 390;
}

p{
    font-size: 14px;
}

/*Header*/
#global-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 25px;
}

.søke-container{
    display: flex;
    gap: 5px;
}

.søkefelt{
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    padding: 8px 15px;
    font-size: 12px;
}

.søke-container i{
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    padding: 8px 15px;
    font-size: 12px;
}

#main-logo{
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.main-menu li, .ikon-menu li{
    list-style: none;
    padding: 5px;
}

.main-menu a, .ikon-menu a{
    text-decoration: none;
    color: #000;

}

.main-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 7px;
    padding: 0;
    margin: 0;
}

.ikon-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 7px;
    padding: 0;
    margin: 0;
}


/*Banner*/
.banner{
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 129, 129);
    padding: 45px;
    text-align: right;
    align-items: flex-end;
    gap: 1rem;
    max-width: 390px;
    margin: 0;
}

.banner p, .banner h2{
    margin: 0;
}

.banner-knapp{
    max-width: 175px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: #000;
    padding: 15px;
    font-weight: bold;
}


/*Populære produkt Forside*/
#pop-produkt{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 45px;
}
#pop-produkt h2{
    margin: 0;
}

.produkt-knapp{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.produkt-knapp p{
    list-style: none;
    display: inline;
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
    margin: 0;
    font-size: 14px;
}


/*Produkt kort for både forside og produktside*/
.produkt-kort{
    max-width: 390px;
    min-width: 200px;
    width: 100%;
    box-shadow: 10px 10px 10px 10px #efefef;
    border-radius: 4px;
    padding: 1rem;
}

.produkt-kort a{
    text-decoration: none;
    color: #000;
}

img{
    width: 100%;
    max-width: 370px;
}

.stjerne-reviews p{
    font-size: 12px;
    margin: 5px 0;
    
}

.stjerne-reviews i{
    margin: 0;
    font-size: 10px;
}


/*Populære kategorier Forside*/
.pop-kategori{
    margin-top: 45px;
}

.kategori-kort{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.kategori-kort h3{
    border-style: solid;
    border-width: 1px;
    padding: 100px 150px;
    font-size: 16px;
    max-width: 390px;
    text-align: center;
    box-sizing: border-box;
    margin: 3px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000;
}

#kategori1{
    background-image:url(../img/kategori-1.jpg);
    background-size: cover;
    background-position: center;

}

#kategori2{
    background-image:url(../img/kategori-2.jpg);
    background-size: cover;
    background-position: center;
}

#kategori3{
    padding: 200px 150px;
    margin: 3px;
    color: #ffffff;
    text-shadow: 4px 4px 4px #000;
    background-image:url(../img/kategori-3.jpg);
    background-size: cover;
    background-position: center;
}

#kategori4{
    background-image:url(../img/kategori-4.jpg);
    background-size: cover;
    background-position: center;
}

#kategori5{
    background-image:url(../img/kategori-5.jpg);
    background-size: cover;
    background-position: center;

}



/*Anmeldelser Forside*/
.anmeldelser{
    margin-bottom: 45px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.anmeldelser h2{
    margin-bottom: 0;
}

.anmeld-kort{
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    font-size: 16px;
    border-color: #cfcbcb;
    max-width: 390px;
    margin: 3px;
    
}
.anmeld-kort img{
    width: 45%;
    border-radius: 12%;
}



/*Footer*/
#global-footer{
    border-top-style: solid;
    border-width: 1px;
    border-color: #cfcbcb;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.footer-logo h2{
    font-weight: normal;
}

#kontakt{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#kontakt p{
    margin: 0;
}

#kontakt h3{
    font-weight: normal;
    margin-bottom: 5px;
}

.ikon-tekst{
    font-weight: bold;

}

#snarveier{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#snarveier p{
    margin: 0;
}

#snarveier a{
    text-decoration: none;
    color: #000;
}

#snarveier h3{
    font-weight: normal;
    margin-bottom: 5px;
}

#some h3{
    font-weight: normal;
    margin-bottom: 5px;
}

#some a{
    text-decoration: none;
    padding: 5px;
    color: #000;
}


/*Brødsmulesti Produktside*/
#brodsmule{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

#brodsmule li{
    list-style: none;
}

#brodsmule a{
    text-decoration: none;
    color: #000;
}

#brodsmule i{
    font-size: 11px;

}

.bold{
    font-weight: bold;
}



/*Produkt område Produktside*/
.hoved-produkt{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 45px;
}

.hoved-produkt a{
    color: #777474;
}

.size-prod{
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #e1e1e18a;
    padding: 8px 15px;
    font-size: 12px;
    background-color: #e1e1e18a;
    max-width: 390px;
    width: 100%;
    margin-bottom: 5px;
}

.hovedprod-knapp{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

#kurv-knapp{
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    padding: 8px;
    font-size: 12px;
    max-width: 335px;
    width: 100%;
    color: #ffffff;
    background-color: #000;
}

#favoritt{
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    padding: 8px 15px;
    font-size: 12px;
    max-width: 45px;
    background-color: #ffffff;
}



/*Lignende Produkter produktsiden*/
.Lprodukter{
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    gap: 1rem;
}

.Lprodukter h2{
    margin-bottom: 10px;

}

.Lprodukter a{
    text-decoration: none;
    color: #000;
}

/*Checkoutside
 1.shoppingbag*/
#shoppingbag{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #ebe6e6;
    padding: 15px;
    gap: 2rem;
    margin: 15px;
    
}

.shopping-kort img{
    width: 150px;

}

.produkt-info h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.produkt-info p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.size-check{
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e18a;
    padding: 8px 15px;
    font-size: 12px;
    max-width: 50px;
    background-color: #e1e1e18a;
}

.antall-box{
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
    padding: 8px 15px;
    font-size: 12px;
    max-width: 65px;
    
}

.shopping-ikon i{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 4px;
}

/*2. Opplysninger*/
#opplysning{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #ebe6e6;
    padding: 20px;
    gap: 2rem;
    margin: 15px;
    
}

.adresse-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
}

.person-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
}

#fornavn, #etternavn, #gate, #postnr, #poststed, #epost, #tlf{
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    padding: 10px 15px;
    font-size: 12px;
    width: 100%;
    max-width: 900px;
}

.opplysning-knapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.lagre-width{
    width: 100%;
}

#lagre-knapp{
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #464646;
    text-align: center;
    max-width: 900px;
}


/*3.levering*/
#levering{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #ebe6e6;
    padding: 20px;
    gap: 1rem;
    margin: 15px;
    
}

.levering-valg{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#express-hjem{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #ebe6e6;
    padding: 15px;
    margin: 0;
}

#express-hjem label{
    font-weight: bold
}

#express-butikk{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #ebe6e6;
    padding: 15px;
    gap: 5px;
    margin: 0;
}

#express-butikk label{
    font-weight: bold;
    font-size: 14;
}

#standard{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #ebe6e6;
    padding: 15px;
    gap: 5px;
    margin: 0;
}

#standard label{
    font-weight: bold;
}

.virkedager{
    font-weight: bold;
    color: #777474;
    margin: 0;
}





/*4.betaling*/
#betaling{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #ebe6e6;
    padding: 15px;
    gap: 2rem;
    margin: 15px;
    
}

.betal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dato-row{
    display: flex;
    flex-direction: column;
}

.betal-kort{
    width: 100%;
}

#kort{
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    padding: 10px 15px;
    font-size: 12px;
    width: 100%;  
    max-width: 900px; 

}

.dato-cvc{
    width: 100%;
    display: flex;
    gap: 5px;
}

.dato-row{
    width: 100%;
}

#udato{
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    padding: 10px 15px;
    font-size: 12px;
    width: 100%;
    max-width: 900px;   
}

#cvc{
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    padding: 10px 15px;
    font-size: 12px;
    max-width: 500px;
    
}

#fullfør-kjøp{
    border-top-style: solid;
    border-width: 1px;
    border-color: #ebe6e6;
    display: flex;
    flex-direction: column;
    text-align: center;
    

}

#total-pris{
    font-size: 20px;
    font-weight: bold;
}

#fullfør-knapp{
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #464646;
    text-align: center;
}

#abetale{
    margin-bottom: 0;
}



/*Desktop*/
@media screen and (min-width: 900px){

    body{
        margin: 2rem 3rem;
    }

    #grid-container{

        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: auto auto auto;
    }

    #global-header{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    main{
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;
        min-width: 800px;
    }

    footer{
        grid-column: 1/4;
        grid-row: 3/4;
        margin: 2rem 3rem;
    }


    #global-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
     }

     .banner{
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        
     }

     .main-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
     }

     .main-li{
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
     }

     .ikon-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
     }


     .footer-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
     }
     
     #pop-produktkort{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-right: 1rem;
        
     }

     .produkt-kort{
        max-width: 240px;
        width: 100%;
     }

     .kategorikort-123{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 3px;
        min-width: 400px;
        width: 100%;
        
     }


     .kategorikort-45{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 3px;
        min-width: 400px;
        width: 100%;
        margin-top: 2px;
     }



     #kategori1, #kategori2, #kategori3{
        max-width: 386px;
        width: 100%;
        padding: 90px;
        margin: 0;
        margin-bottom: 0;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000;
     }

     #kategori4{
        max-width: 864px;
        width: 100%;
        padding: 90px 250px;
        margin: 0 1px;
        margin-bottom: 0;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000;
     }

     #kategori5{
        max-width: 300px;
        width: 100%;
        padding: 90px 60px;
        margin: 1px 0;
        margin-bottom: 0;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000;
     }


     #anmeld{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
     }

     .anmeld-kort{
        max-width: 289px;
        margin-left: 5px;
        margin-right: 5px;
     }

     /*produktside*/

     .hoved-produkt{
        display: flex;
        flex-direction: row;
        gap: 6rem;
     }

     .hoved-bilder{
        display: flex;
        flex-direction: column;
        max-width: 700px;
     }

     #produkt-info{
        max-width: 440px;
     }

     #bilde-S{
        display: flex;
        flex-direction: row;
     }

     .prod-stor{
        max-width: 390px;
        width: 100%;
        margin: 3px;
     }

     .prod-liten{
        max-width: 126px;
        width: 100%;
        margin: 3px;
     }

     .size-prod{
        width: 100%;
     }


    .hovedprod-knapp{
        margin-top: 5px;
    }


    #L-produktkort{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-right: 1rem;
    }


    /*Checkoutside*/

    #shoppingbag{
        width: 100%;
        margin: 10px 0;
        padding: 40px 100px;
    }

    .shopping-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }


    .shopping-kort{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .shopping-ikon{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .shopping-ikon i{
        margin: 0;
    }

    #opplysning{
        width: 100%;
        padding: 30px;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        padding: 40px 100px;
    }

    .adresse-info{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .adr-row{
        display: flex;
        gap: 5px;
    }
    
    .navn-post{
        display: flex;
        flex-direction: column;
        width: 50%;
        max-width: 500px;
    }

    #gateadr{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #gate, #epost, #tlf{
        max-width: 500px;
    }

    .person-info{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .epost-tlf{
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .lagre-width{
        width: 100%;
    }
    
    .opplysning-knapper{
        width: 100%;
    }

    #levering{
        width: 100%;
        margin: 10px 0;
        padding: 40px 100px;
    }

    #levering h2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #betaling{
        width: 100%;
        margin: 10px 0;
        padding: 40px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .betal-info{
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .betal-kort{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }

    .kort-full{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .dato-cvc{
        display: flex;
        gap: 5px;
    }

    .dato-row{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #udato, #cvc, #kort{
        max-width: 500px;
    }

    

}


