*{
    box-sizing: border-box;
    max-width: 350px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

header, main, footer{
    grid-column: 1/2;
}

header{
    grid-row: 1/2;
}

main{
    grid-row: 2/3;
}

footer{
    grid-row: 3/4;
}

#global-header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.søke-container{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 5px;
}

.søkefelt{
    border: none;
    outline: none;
    flex: 1;
}

.søke-ikon{
    color: #aaa;
    margin-left: 5px;
}

li{
    list-style: none;
}